NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017/cafe_ecommerce

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=